.tilted-card-demo-text {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: -0.5px;
  background: #0006;
  border-radius: 15px;
  margin: 1em 2em;
  padding: 0.5rem 1em;
  font-family: "Figtree";
  font-weight: 900;
  box-shadow: 0 5px 30px #06001059;
  align-self: baseline;
}
.project-icons{
  background: rgba(0, 0, 0, 0.822);
  border-radius: 15px;
   box-shadow: 0 5px 30px #06001059;
     padding: 0.1rem 0.4em;
}
